/* You can add global styles to this file, and also import other style files */
@import "./assets/materialize/css/materialize.min.css";

body{
    font-style: arial;
    max-width: 100%;
    overflow-x: hidden;
   
}



@media (max-width: 300px) {
    .reduce{
      font-size: 12px;
    }
  }
  
  @media (max-width: 500px) {
    .reduce{
      font-size: 14px;
    }
  }